<template>
    <div>
        <input v-model="login" type="text" placeholder="Логин"/>
        <input v-model="password" type="password" placeholder="Пароль"/>
        <button v-on:click="setLogin">Войти</button>
    </div>
</template>

<script>

    export default {
        name: "Login",
        data(){
            return{
                login: "",
                password: "",
            }
        },
        methods:{
            setLogin(){
                $.ajax({
                    url: "http://127.0.0.1:8787/auth/token/create/",
                    type: "POST",
                    data:{
                      username: this.login,
                      password: this.password
                    },
                    success: (response) => {
                        alert("Successful!")
                        sessionStorage.setItem("auth_token", response.data.attributes.auth_token)
                        this.$router.push({name: "room"})
                    },
                    error: (response) =>{
                        if(response.status === 400){
                            alert("Bad credentials!")
                        }
                    }
                })
            },
        }
    }
</script>

<style scoped>
</style>
