<template>
    <mu-container>
        <select v-model="option">
            <option v-for="user in list"
                    :value="user.id">
                    {{user.attributes.username}}
            </option>
        </select>
        <mu-button class="btn-send" round color="success" @click="addUser">
            Add user
        </mu-button>
    </mu-container>
</template>

<script>
    export default {
        name: "AddUsers",
        props: {
            room: '',
        },
        data() {
            return {
                option: '',
                list: ''
            }
        },
        created() {
            this.loadUsers()
        },
        methods: {
            // load users
            loadUsers(){
                $.ajax({
                url: "http://127.0.0.1:8787/api/v1/chat/users/",
                type: "GET",
                success: (response) => {
                    this.list = response.data
                }
            })
            },
            // add user in room

            addUser(){
                $.ajax({
                url: "http://127.0.0.1:8787/api/v1/chat/users/",
                type: "POST",
                data: {
                    room: this.room,
                    user: parseInt(this.option)
                },
                success: (response) => {
                    alert("user was added")
                },
                error: (response) => {
                    alert("Error while add user")
                }
            })
            },
        }
     }
</script>

<style scoped>
</style>
