<template>
    <RoomSlot>
    <mu-col span="8" xl="9">
    <AddUsers :room="id"/>
    <mu-container class="dialog">
        <mu-row direction="column" justify-content="start" align-items="end"
            v-for="dialog in dialogs" v-bind:key="dialog.id">
            <p><strong>{{dialog.user.username}}</strong></p>
            <p>{{dialog.text}}</p>
            <span>{{dialog.date}}</span>
        </mu-row>
     </mu-container>
     <mu-container>
     <mu-row>
            <mu-text-field v-model="form.textarea" multi-line :rows="4" full-width
            placeholder="Enter text message"></mu-text-field>
            <mu-button round color="success" @click="sendMes">Send message</mu-button>
     </mu-row>
     </mu-container>
    </mu-col>
    </RoomSlot>
</template>

<script>
    import AddUsers from "@/components/rooms/AddUsers.vue"
    import RoomSlot from "@/components/rooms/Room.vue"

    export default {
        name: "Dialog",
        components: {
            AddUsers,
            RoomSlot
        },
        props: {
            id: "",
        },
        data(){
            return {
                dialogs: "",
                form: {
                    textarea: '',
                }
            }
        },
        created() {
            $.ajaxSetup({
                headers: {"Authorization": "Token "+ sessionStorage.getItem("auth_token")}
        });
        this.loadDialog()
        setInterval(() => {
            this.loadDialog()
        }, 5000)

    },
    methods:{
        loadDialog() {
            $.ajax({
                url: "http://127.0.0.1:8787/api/v1/chat/dialog/",
                type: "GET",
                data: {
                    room: this.$route.params.id
                    //room: this.id
                },
                success: (response) => {
                    this.dialogs = response.data.data
                }
            })
        },
        sendMes(){
            $.ajax({
                url: "http://127.0.0.1:8787/api/v1/chat/dialog/",
                type: "POST",
                data: {
                    room: this.$route.params.id,
                    //room: this.id,
                    text: this.form.textarea
                },
                success: (response) => {
                    this.loadDialog()
                },
                error: (response) => {
                    alert(response.statusText)
                }
            })
        }
    }
}
</script>

<style scoped>
        .dialog {
        border: 1px solid #000;
    }
    .btn-send {
        margin: 60px 0 0 15px;
    }
</style>
